#root{
    width: 60%;
}

#registration-form{
    margin: 20px;
}

#title{
    margin-bottom: 1em;
}

#specialist{
    text-transform: capitalize;
}

#set-data-button{
    position: absolute;
}

@media (max-width: 1000px){
    #root{
        width: 90%;
    }
}